<app-breadcrumbs [title]="'Clientes / Provedores'">
  <div options>
    <button class="btn btn-primary">Agregar cliente / provedor</button>
  </div>
</app-breadcrumbs>
<div class="p-4">
  <div class="wrapper">
    <div class="flex justify-between flex-wrap gap-2">
      <app-filter-client class="flex-1" />
    </div>
    <div class="bg-white dark:bg-slate-800 rounded-xl border mt-4 dark:border-gray-500">
      <app-table-client />
      @if(pagination) {
        <app-pagination [pagination]="pagination" (paginationChange)="handlePaginationChange($event)" />
        }
    </div>
  </div>
</div>
