/* sidenav.component.scss */
.sidenav {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  transition: width 0.3s ease;

  &.collapsed {
    width: 80px;
    transition: width 0.3s ease;
  }
}

.closed {
  transform: translateX(-100%);
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu:hover .menu-item {
  display: flex;
  align-items: center;
}

.active {
  @apply text-blue-500 font-medium
}
