<app-breadcrumbs [title]="id">
  <div options>
    <a [routerLink]="['/sales']" routerLinkActive="router-link-active" class="btn btn-link">
      Volver a ventas
    </a>
  </div>
</app-breadcrumbs>
<div class="p-4">
  <div class="wrapper flex flex-col gap-4">
    <app-search-product (productSelected)="productSubimitted($event)" />
    <div class="flex flex-row gap-4 flex-wrap">
      <div class="flex-1 p-4 bg-white rounded-md">
        <app-list-product-sale />
      </div>
    </div>
  </div>
</div>
