<div class="p-4">
  <div class="wrapper">
    <div class="flex flex-row gap-2 flex-wrap">
      <app-filter-product class="flex-1" />
      <div class="w-full md:w-auto">
        <button (click)="handleOpenModal()" class="btn btn-primary w-full md:w-auto">Agregar Producto</button>
      </div>
    </div>
    <div class="bg-white dark:bg-slate-800 rounded-xl border dark:border-gray-500 mt-4">
      <app-table-product />
      @if(pagination) {
      <app-pagination [pagination]="pagination" (paginationChange)="handlePaginationChange($event)" />
      }
    </div>
  </div>
</div>
